*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

body{
    background: rgb(230, 230, 230);
}

header{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    
}

.href{
    text-decoration: none;
    color: rgb(17, 216, 44);
}


.circle{
    border: 5px solid rgb(48, 255, 6);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.text-city{
    color: rgb(21, 247, 0);
    font-size: 70px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
}


.card-city{
  position: relative;
  left: -150px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(17, 216, 44);  
  display: flex;
  align-items: center;
  gap: 20px;
    
}

.cards a{
    text-decoration: none;
    color: rgb(17, 216, 44);
    font-weight: bold;
    font-size: 18px;
    
}

.cards{
   display: flex;
   gap: 50px; 
}

.underline{
    position: relative;
    display: inline-block;
    padding-bottom: 3px ;
    color: aqua;
    font-size: 18px;
}

.underline::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(76, 0, 255);
    transition: width 0.3s ease;
}

.underline:hover::after{
    width: 100%;
}


.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  0 4px 30px rgb(233, 233, 233);
    background: rgb(233, 233, 233);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active{
    opacity: 1;
    z-index: 1;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: auto;
    display: block;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
    pointer-events: auto;
    z-index: 2;
}

.nav button {
    background-color: rgb(233, 233, 233);
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px 14px;
    user-select: none;
}


.kurs-valut{
    margin: 50px 200px;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

#date{
    position: relative;
    top: -40px;
    margin: 0 200px;
    opacity: 0.8;
}

#fx-widget {
    position: relative;
    top: -160px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(191, 219, 243);
}

.block{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
    padding: 10px;
    border-radius: 10px;
   
}

.fx-row{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid rgb(160, 160, 160);
    transition: all 0.3s ease;
}

.fx-row:hover{
    border-radius: 5px;
    background-color: rgb(115, 189, 238);
}

.fx-row:last-child {
    border-bottom: none;

}

.fx-title{
    font-size: 20px;
    margin-bottom:10px ;
    font-weight: bolder;
}

.img-valut{
    border-radius: 50px;
}

.product{
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.block-product-flex{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.product-block{
    cursor: pointer;
    display: flex;
    background: rgb(233, 233, 233);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(197, 197, 197);
    transition: all 0.3s ease-in-out;   
}

.product-block:hover{
   transform: scale(1.02);
    
}

.text-into-block{
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: black;

}

.img-credit{
    position: relative;
    left: -10px;
    top: 20px;
}

.dc-skachat{
    width: 1200px;
    height: 400px;
    background-color: rgb(233, 233, 233);
    margin: 50px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgb(197, 197, 197);

}

.text-green-city{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.block-about{
    margin: 50px;
}

.text-about{
    padding: 3px;
}

.flex-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-phone{
    border-radius: 50px 30px 0 0;
    
}
#play-store-apple{
    cursor: pointer;
    position: relative;
    top: 10px;
}

.img-play-store-apple{
    transition: all 0.3s ease;
}

.img-play-store-apple:hover{
    transform: scale(1.1);
}

.bussines1{
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  background-color: rgb(233, 233, 233);
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgb(197, 197, 197);
}

.bussines1:hover{
  transform: scale(1.03);
}

.text-into-block-bussines{
    font-size: 20px;
    margin: 18px;
    font-weight: bold;
    
}

.projects{
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
   
}


.project1{
    padding: 30px;
    background-color: rgb(233, 233, 233);
    width: 700px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(197, 197, 197);
    
}

.project2{
    width: 550px;
    height: 300px;
}

.text-projects{
    font-size: 30px;
}

.news{
    border-radius: 20px;
    margin: 50px;
    width: 300px;
    height: 130px;
    background-color: rgb(210, 208, 208);
}

.news-text{
    padding: 3px;
    font-size: 15px;
}

.animation{
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.animation:hover{
    color: rgb(27, 209, 27);
}

.news-card {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}

.news-card.active{
    opacity: 1;
    visibility: visible;
}

.news-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background: rgb(19, 223, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(233, 233, 233);
    min-width: 250px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.news-card.active .news-container {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.close-news{
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.flex-text-news{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.text-margin{
    margin-top: 50px;
}

.need-card{
    border-radius: 20px;
    margin: 50px;
    width: 600px;
    height: 300px;
    background-color: rgb(202, 202, 202);
    
}

.text-need-card{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

.text-need-card1{
    position: relative;
    left: 15px;
    margin: 5px;
}

.img-location{
   position: relative;
   left: 300px;
   top: -150px;
}

.text-need-card-box{
    cursor: pointer;
    margin: 20px;
    width: 150px;
    height: 40px;
    background-color: rgb(115, 189, 238);
    border-radius: 12px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;

}

.text-need-card-box:hover{
    background-color: rgb(36, 194, 241);
}

.img-FIT{
    cursor: pointer;
    margin: 5px;
    position: relative;
    left: 20px;
    top: 10px;
}

footer{
    width: 100%;
    height: 500px;
    background: rgb(160, 160, 160);
    
}

.footer{
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.text-footer1{
   font-size: 25px;
   font-weight: bold;
}


.text-footer{
    cursor: pointer;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.text-footer2{
    transition: all 0.3s ease;
}

.text-footer2:hover{
    color: rgba(56, 56, 56, 0.788);
}


.text-histoty-flex{
    display: flex;
    justify-content: center;
    gap: 25px;
}


.text-histoty{
    cursor: pointer;
    border-bottom: 2px solid black;
    transition: all 0.3s ease;
}

.text-histoty:hover{
    color: rgba(56, 56, 56, 0.788);
}


.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.contact1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}



















































